<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<body>
<div class="col-8 m-auto pt-1 pb-2 text-center">
    <h1> Vizualização</h1>
</div>
<div class="col-8 m-auto pt-2 pb-2 text-center">
   <a href="/" class="btn btn-info">Voltar </a>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <strong>Nome:  </strong>{{db.nome}}<br>
     <strong>cargo:  </strong>{{db.cargo}}<br>
     <strong>Linguagem:  </strong>{{db.linguagem}}<br>
</div>

</body>
</html>